/* variables */
:root {
    /* colors */
    --gray400: rgb(67, 146, 199);
    --white100: white;
    --purple250: rgba(0, 0, 0, 0.63);
    --yellow: rgb(241, 194, 36);

    /* fonts */
    --monospace: 'courier new', 'lucida console', 'monaco', color: var(--white100);

    /* spacing */
    --spacing-unit: 24px;
    --spacing-unit-small: 12px;
}

html {
    background-color: var(--gray400);
    font-family: var(--monospace);
    flex-direction: row;
    flex-wrap: wrap;
}

/* element styles */
header {
    padding: 40px;
    background-color: var(--purple250);
    font: var(--monospace);
    color: var(--white100);
    text-align: center;
}

header h1 {
    display: inline-block;
    font-size: 72pt;
    color: var(--white100);
}

nav {
    display: flex;
    background-color: var(--yellow);
}

nav a {
    color: var(--purple250);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 20pt;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* a {
    color: var(--white100);
    text-decoration: none;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a:hover {
    color: var(--yellow);
} */

.main {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-left: 314px;
    border: 4px solid var(--yellow);
    border-radius: 5pt;
    padding: 15px;
    color: var(--white100);
    font-size: 15pt;
    transform: translate(7px, -576px);
}

/*
h2 {
    font: 1.2em "sans-serif", sans-serif;
    font-size: 72pt;
    position: relative;
    width: 196pt;
    height: 161pt;
    background-color: var(--purple250);
    color: var(--white100);
    border-radius: 5pt;
    margin: 22pt;
    padding: 5pt;
}
*/

img {
    border-style: none;
    border-radius: 5%;
    max-width: 50%;
    margin: 20pt;
}

/* .figure {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-images-recent {
    border: 4px solid var(--yellow);
    position: relative;
    margin: var(--spacing-unit-small);
    transition: all .1s ease-in-out;
    max-width: 323px;
    border-radius: 35%;
    flex-wrap: wrap;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.work-images {
    border: 4px solid var(--yellow);
    position: relative;
    margin: var(--spacing-unit-small);
    transition: all .1s ease-in-out;
    max-width: 323px;
    border-radius: 35%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.work-images:hover {
    box-shadow: inset 0px 0px 15px, 0px 0px 20px var(--white100);
    border-radius: 5%;
}

.work-images-recent:hover {
    box-shadow: inset 0px 0px 15px, 0px 0px 20px var(--white100);
    border-radius: 5%;
}  */

.hero {
    max-width: 1280px;
    margin-bottom: 25px;
    background-image: url("https://i.pinimg.com/originals/74/ff/93/74ff93cb78f4f7ae7275602bae99da58.jpg");
    background-size: cover;
    background-position: center;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: var(--white100)
}

.footer h2 {
    font-size: 20px;
}

/* atomic classes */
.ta-l {
    text-align: left;
}

/* media queries */
/*medium > 768 px */
@media screen and (max-width: 768px) {

    main,
    nav {
        flex-direction: column;
    }
}